.navbar{position: fixed;
    overflow: hidden;
    background-color: rgb(252, 249, 249);
    top:0;
    width: 100%;
    color:rgb(104, 5, 2);
    font-size: 230%;
    opacity:0.8;
}
#sp{text-align: center;}
body{padding-top: 40px}
button{background-color: rgb(139, 253, 183)}
form,h1{padding-left: 20px }
a{padding-left: 35px}
